{% extends 'dashboard/base.html' %}
{% load static %}

{% block main_cards %}
  <div class="container-fluid">

    <div id='id_cost_rate' class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-header-title">
              Cost
            </h4>
          </div>
          <div class="card-body">
            <form method="POST"
                  enctype="multipart/form-data"
                  action="{% url 'invoicing:cost' %}"
            >
              {% csrf_token %}
              {% for field in form.visible_fields %}
                <label for="id_cost_file">
                  Upload Cost File:
                </label>
                {{ field }}
              {% endfor%}
              <input type=submit class="btn btn-sm btn-primary float-right" value="Upload">
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4 class="card-header-title">
              Cost Rate
            </h4>
            <div class="float-right">
              <a
                id="'id_cost_export_btn"
                href="{% url 'invoicing:cost_export' %}"
                class="btn btn-sm btn-primary d-none d-md-inline-block"
                target="_blank"
              >
                Export to CSV
              </a>
            </div>
          </div>

          <div class="card-body">
            <table id="id_cost_table" class="table table-hover table-sm">
              <thead>
                <tr>
                  <th>Courier</th>
                  <th>Service</th>
                  <th>Weight Class</th>
                  <th>Zone</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>

                {% for cost in costs %}
                <tr>
                  <td>{{ cost.courier }}</td>
                  <td>{{ cost.service_id }}</td>
                  <td>{{ cost.weight_class_id }}</td>
                  <td>{{ cost.zone_id }}</td>
                  <td>{{ cost.price }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_onload %}
  {{ block.super }}

  <script>
    $(document).ready(function () {
      $('#id_cost_table').DataTable({
        'order': [[ 0, 'asc' ]],
        'iDisplayLength': 50
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>
{% endblock %}
